<style>

body {
     margin: 60px auto;
     width: 70%
}

  

h1 {
        color: dark green;
        font-size: 3em;
        font-family: "calibri";
}


p {
       color: dark grey;
       font-size: 5em;
       font-family: "calibri";
}

</style>
